.featured_container {
	display: flex;
	padding-block: 5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	background: var(--Transparent, rgba(255, 255, 255, 0));
}
.featured_container .featured_content {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 2.5rem;
	align-self: stretch;
}
.featured_content .header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
}
.header .head {
	color: var(--black-800, #212121);
	text-align: center;
	font-feature-settings: "clig" off, "liga" off;
	font-family: Futura;
	font-size: 2.625rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.0375rem;
}
.header .subhead {
	color: #121212;
	text-align: center;
	font-feature-settings: "clig" off, "liga" off;

	/* Text/20px/Regular */
	font-family: Inter;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2rem; /* 160% */
}
.featured_content .row {
	gap: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
@media only screen and (max-width: 768px) {
	.featured_container .featured_content {
		gap: 1.5rem;
	}

	.header .head {
		font-size: 1.375rem;
		letter-spacing: -0.0375rem;
	}
	.header .subhead {
		font-size: 1rem;
	}
	.featured_content .row {
		gap: 1.5rem;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	}
}
