@media (min-width: 1340px) {
    .DesktopLatestNews .container, .RakebackHeader .container, .customFooter  .container , .faqcontainer  .container {
        max-width: 1280px;
        padding: 0;
    }
}

@media only screen and (max-width: 1199px) {
  .RakebackHeader ul.navbar-nav li.nav-item a.nav-link {
    font-size: 14px;
}
  .RakebackNewsletter .inputContainer {
    width: 100%;
  }
  .HottestDeals.HottestDealsDashboard {
    margin-bottom: 30px;
  }
  .GetStartedCard .card {
    height: 100%;
  }
  .formsection {
    padding: 30px;
  }

  .dashboardMain_dashboard_container__YEqgc {
    gap: 0;
    padding: 0 1rem;
  }
  .LastTransactionTable.table-responsive table.table.align-middle tr th {
    font-size: 15px !important;
  }
  .LastTransactionTable.table-responsive table.table.align-middle tr td {
    font-size: 15px !important;
  }
  .LastTransactionTable.table-responsive
    table.table.align-middle
    tr
    td
    .d-flex.align-items-center
    span.rounded-circle.d-flex.justify-content-center.align-items-center.border {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }

.KYCDB .accordion-body .FormIcon {
    min-width: 117.45px;
    height: 100%;
}
.KYCDB .accordion-body {
        gap: 50px;
    }
  .DesktopLatestNews {
    padding: 60px 40px;
}
.LatestNewsDsgTxt p.small {
    font-size: 13px;
}
.DesktopLatestNews .sidebar.RightsidebarBlog .card .sideContent .sideDescription
 {
    font-size: 13px;
}
.DesktopLatestNews .nav-pills .nav-link {
    font-size: 16px;
    padding: 0 8px;
}
.DesktopLatestNews .tab-content h4.section-title
 {
    font-size: 28px;
    margin-bottom: 20px;
}
.DesktopLatestNews .sub-title {
    margin-bottom: 34px;
    font-size: 16px;
}
.DesktopLatestNews .card.blog-card.BlogCardFullHeifht .card-body .card-title {
    font-size: 22px;
}

.DesktopLatestNews .card-body h6 , .DesktopLatestNews .card-body h6 span{
    font-size: 14px;
}
.DesktopLatestNews .BorderBlog {
    margin: 10px 0;
}
.LatestNewsDsgIMg {
    min-width: 82px;
}
button.ClaimNow {
    font-size: 10px;
}
button.Pokerbazzi25 {
    font-size: 8.23px;
}

.DesktopLatestNews .SocialIconBlog.BlogSocialIcon div {
    gap: 20px;
}

}
@media only screen and (max-width: 1024px) {
  .sidebar_CloseSidebar {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    right: -2.5rem;
    top: 0.75rem;
    border-radius: 0.5rem;
  }
    .SidebarNavigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .Contactform {
    flex-direction: column;
  }
  .ContactInfoleft {
    padding: 24px 0;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
  }
  .ContactInfoleft ul {
    margin: 36px 0;
    gap: 36px;
  }
  .ContactInfoleft ul li a {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  }

  .ContactInfoleft .socialIcons {
    gap: 17px;
    justify-content: center;
  }
  .ContactInfoleft:before {
    content: "";
    width: 358px;
    height: 358px;
    bottom: 50%;
    right: -50%;
    background: url(../PokerRed.svg);
    position: absolute;
    filter: grayscale(1);
    opacity: 0.4;
    transform: translate(-80%, 50%);
    z-index: 1;
  }
  .ContactInfoleft:after {
    content: "";
    width: 358px;
    height: 358px;
    bottom: 50%;
    left: 10%;
    background: url(../PokerRed.svg);
    position: absolute;
    filter: grayscale(1);
    opacity: 0.4;
    transform: translate(-80%, 50%);
    z-index: 1;
  }
  .formsection .col-md-6 {
    margin-bottom: 20px;
  }
  .formsection .row.mb-4 {
    margin-bottom: 0px !important;
  }
  .formsection .form-label {
    margin-bottom: 0.5rem;
    font-size: 12px;
    color: #000;
    width: 100%;
    font-weight: 600;
  }
  .formsection input.form-control {
    padding: 10px 0;
  }
  .FormRadio {
    flex-wrap: wrap;
    gap: 0;
  }
  .formsection .form-check-inline {
    margin: 0 0 10px;
    width: 50%;
  }
  .formsection .btn-submit {
    width: 100%;
  }
  .Contactform {
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
  .HottestDealschild {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 12px;
  }
  .deal-card {
    width: calc(33% - 10px);
  }
  .deal-card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .deal-button {
    font-size: 12px;
  }
  .card-title {
    font-size: 12px;
  }
.KYCDB .accordion-body .FormIcon img {
    width: 100%;
}


}

@media only screen and (max-width: 991px) {
  .mega-menu .dropdown-menu.show {
    position: absolute !important;
    top: 50px;
    left: 0;
}
.PokerRight {
    display: none;
}
.PokerLeft .list-unstyled {
    max-width: 100%;
}
 .navbar .dropdown-toggle::after {
      display: block;
    }
.navbar .dropdown-toggle[aria-expanded="true"]::before {
      content: "";
      display:block;
       background: url(../NavbarIcon.svg);
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;   

    }
    /* Custom arrow */
    .navbar .dropdown-toggle::before {
      content: "▼";
      font-size: 0.7rem;
      margin-left: 6px;
      transition: transform 0.2s ease;
        display:block;
    }
  .RakebackHeader .container.py-3.d-flex.align-items-center.justify-content-between {
    max-width: 100%;
}
    .RakebackHeader ul.navbar-nav li.nav-item a.nav-link {
    font-size: 18px;
}
  .RakebackHeader .navbar-expand-lg .navbar-collapse

 {
    flex-direction: column;
}
    .RakebackHeader .search-bar {
        display: block;
        margin: 0 0 20px !important;
        width: 100%;
    }
  .ReviewTaggingTab .single-post-left {
    flex-basis: 100%;
    width: 100%;
}
.RakebackHeader .search-bar input {
    border: 0px solid #D6D8DE;
    border-radius: 4px;
    padding: 9px 40px 9px 10px;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    margin: 0;
    width: 100%;
    font-size: 14px;
    min-width: 100%;
    outline: none;
    background: #F4F4F4;
}
.RakebackHeader .search-bar button svg {
    width: 18px;
    height: 18px;
}
.RakebackHeader ul.navbar-nav li.nav-item {
    text-align: left;
}
.RakebackHeader ul.navbar-nav li.nav-item a {
        text-align: left;
        border-bottom: 1px solid #EEEEEE;
    }
    
.RakebackHeader ul.navbar-nav li.nav-item a.nav-link.active {
    color: #FF4053;
    border-color: #FF4053;
}
.RakebackHeader .navbar-nav .nav-link.active::after {
    display: none;
}
    .RakebackHeader ul.navbar-nav li.nav-item a:before {
        content: '';
        background: url(../NavbarIcon.svg);
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .RakebackHeader ul.navbar-nav li.nav-item  .nav-link.dropdown-toggle:before {
      display: block !important;
        content: '';
        background: url(../NavbarIcon.svg);
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
    }
 .RakebackHeader ul.navbar-nav li.nav-item  .nav-link.dropdown-toggle.show:before {
transform: rotate(90deg);
right: 7px;
    }
    .PokerLeft .list-unstyled li.d-flex.align-items-center

 {
    flex-basis: 100%;
    gap: 18px;
}
.ReviewHeader {
    gap: 31px;
    padding: 30px 22px;
}
.ReviewHeader .logo img {
    width: 140px;
}
.ReviewHeader .offer span {
    font-size: 14px;
}
.ReviewHeader .join-btn {
    font-size: 14px;
}
.ReviewTaggingTab ul.nav.ReviewUITab li.nav-item {
    min-width: 120px;
}
.ReviewTaggingTab ul.nav.ReviewUITab li.nav-item button.nav-link {
    font-size: 14px;
}
.DesktopLatestNews.ReviewPAge .sidebar.RightsidebarBlog .card {
    width: 100%;
    margin: 11px 0% 0px;
}
  .single-post-row {
        flex-flow: column;
        gap: 24px;
        margin-bottom: 0px;
    }
    .single-post-left, .single-post-right {
        flex: 1;
        width: 100%;
    }
       .DesktopLatestNews  .container{
        max-width: 1280px;
        padding: 0 31px;
    }
    .DesktopLatestNews {
        padding: 40px 0px;
    }
 .DesktopLatestNews .card.blog-card.BlogCardFullHeifht img {
    height: 280px;
}
   .DesktopLatestNews .sidebar.RightsidebarBlog .card
 {
    width: 48%;
    float: left;
    margin: 0 1%;
}
.SpacedicAdd.SpacedicAddsBAckground {
    height: 250px;
    width: 100%;
    float: left;
}
.DesktopLatestNews .newsletter {
    width: 100%;
}
.DesktopLatestNews .sidebar.RightsidebarBlog .card.Offerscard {
    padding-bottom: 15px;
}
.form-check.CheckboxFormCheck {
  
    align-items: center;
}
.DesktopLatestNews .newsletter input
 {
    min-width: 20px;
    height: 20px;
}
.DesktopLatestNews .blog-card img {
    height: 270px;
    width: 100%;
    object-fit: cover;
}
  .container-fluid.ContactUS.RetagPage .ContactInfoleft {
    padding: 24px;
  }
  .formsection {
    padding: 30px 0;
  }
  .ContactInfoleft:before {
    width: 250px;
    height: 250px;
    bottom: -40px;
    right: -50px;
    transform: unset;
  }
  .ContactInfoleft:after {
    content: "";
    width: 250px;
    height: 250px;
    bottom: -40px;
    left: -50px;
    transform: unset;
  }

  button.navbar-toggler {
    background: url(../Logos_and_illustration/Menu.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 6px;
    top: 26px;
  }
  .RakebackHeader .navbar-expand-lg .navbar-collapse ul.navbar-nav
 {
    width: 100%;
    gap: 20px;
}
    .RakebackHeader .navbar-expand-lg .navbar-collapse.show {
        /* flex-direction: column-reverse; */
        display: flex;
    }
  .navbar-brand {
    position: relative;
    left: 50px;
  }
  .RakebackFeaturedBlog .tabsContainer {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .RakebackWhyChooseUS .GetStartedhead {
    text-align: center;
  }
  .RakebackWhyChooseUS .GetStartedhead .subtitle {
    max-width: 100%;
  }
  .RakeBackBannerMobile .col-lg-1 {
    display: none;
  }
  .mobilerow {
    flex-direction: column-reverse;
  }
  .RakeBackBanner .videoContainer {
    text-align: center;
  }
  .RakeBackBanner .chipIcon {
    left: 0;
  }
  .RakeBackBanner .pokerCardheroBanner {
    right: 0;
  }
  .BlogHeading {
    display: none;
  }
  .RakebackFeaturedBlog .tabsWrapper {
    gap: 0;
    overflow-x: scroll;
  }
  .RakebackFeaturedBlog .tabsWrapper div {
    border-radius: 0;
    font-size: 16px;
    flex: 1;
  }
  .RakebackFeaturedBlog .sidePost {
    width: 97%;
    padding: 10px 10px;
    margin: 20px auto 0;
  }
  .GetStartedCard {
    margin-bottom: 44px;
  }
  .RakebackFAQ .moreQuestionsActions {
    flex-direction: row;
  }
  .RakebackFAQ .actionButton {
    width: 100%;
  }
  .faqcontainer {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .faqcontainer .moreQuestionsActionsFAQ {
    gap: 30px;
    margin: 30px 0 0;
  }
  .KYCDB .form-row {
    flex-direction: column;
  }
  .KYCDB .accordion-item {
    padding: 18px;
  }
  .KYCDB .step-Hed {
    font-size: 16px;
  }
  .KYCDB .step-number {
    width: 26px;
    height: 26px;
    font-size: 12px;
  }
  .KYCDB .step-header .step-info svg {
    width: 16px;
    height: 16px;
  }
  .KYCDB .form-control {
    border-radius: 9.82px;
    font-size: 12px;
    height: 40px;
    padding: 0 16px;
  }
  .KYCDB .accordion-body {
    padding: 30px 20px 28px 49px;
  }
  .KYCDB .btn-pink {
    border-radius: 9.82px;
    height: 32px;
    font-size: 12px;
    width: 90px;
  }
  .customFooter {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .customFooter .brandSection {
    padding-bottom: 40px;
    border-bottom: 1px solid #808080;
    margin-bottom: 40px;
  }
  .footerLinksContainer {
    width: 50%;
  }
  .RakebackNewsletter .form {
    margin-top: 30px;
    width: 100%;
  }
  .RakebackNewsletter .GetStartedhead {
    text-align: center;
  }
  .RakebackNewsletter .GetStartedhead .subtitle {
    max-width: 100%;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  .RetagPage .ContactInfoleft h1,
  .ContactInfoleft p {
    z-index: 9;
    position: relative;
  }
  .PokerIdDBDesc .form-container .formControl.d-flex {
    flex-direction: column;
    justify-content: center;
  }
  .formControl .InputDB {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .PokerIdDBDesc .form-container {
    width: 60%;
    margin: 0 auto;
  }

  .PokerIdDBDesc .tab-pane[aria-labelledby="add-tab"]:before {
    content: "";
    width: 240px;
    height: 240px;
    bottom: 50%;
    right: -322px;
    background: url(../PokerRed.svg);
    position: absolute;
    filter: unset;
    opacity: 1;
    transform: translate(-80%, 50%);
    z-index: 1;
    top: unset;
  }
  .PokerIdDBDesc .tab-pane[aria-labelledby="add-tab"]:after {
    content: "";
    width: 240px;
    height: 240px;
    bottom: 50%;
    left: 10%;
    background: url(../PokerRed.svg);
    background-size: 100% 100% !important;
    position: absolute;
    filter: unset;
    opacity: 1;
    transform: translate(-80%, 50%);
    z-index: 1;
    top: unset;
  }

  .PokerIdDBDesc .tab-pane[aria-labelledby="retag-tab"]:before {
    content: "";
    width: 240px;
    height: 240px;
    bottom: 50%;
    right: -322px;
    background: url(../PokerGreen.svg);
    position: absolute;
    filter: unset;
    opacity: 1;
    transform: translate(-80%, 50%);
    z-index: 1;
    top: unset;
  }
  .PokerIdDBDesc .tab-pane[aria-labelledby="retag-tab"]:after {
    content: "";
    width: 240px;
    height: 240px;
    bottom: 50%;
    left: 10%;
    background: url(../PokerGreen.svg);
    background-size: 100% 100% !important;
    position: absolute;
    filter: unset;
    opacity: 1;
    transform: translate(-80%, 50%);
    z-index: 1;
    top: unset;
  }
  .PromotionsandOffers .deal-card {
    flex-direction: column;
    gap: 10px;
  }
  .PromotionsandOffers .deal-image {
    width: 100%;
    height: 184px;
    min-width: 100%;
  }
  .PromotionsandOffers .card-title {
    font-size: 20px;
  }
  .PromotionsandOffers .card-subtitle {
    font-size: 16px;
  }
  .myTransactionMain_SectionHeading__Asx\+A {
    margin-bottom: 20px;
  }
  .LastTransactionSection.TransactionTableDB {
    margin-top: 30px;
  }
  .LastTransactionTable .table thead tr th,
  .LastTransactionTable .table tbody tr td {
    padding: 20px;
  }
  .dropdown-menu.show {
    display: block;
    background: #fff !important;
    z-index: 99999999 !important;
  }
 .RakebackHeader button.signin_button {
    width: auto;
    height: 40px;
    font-size: 12px;
    padding: 8px 12px;
} 
.RakebackHeader button.signin_button svg.bi.bi-arrow-right {
    display: none;
}
.RakebackHeader button.signin_button:first-child {
    
    color: #ff4053;
}


}

@media only screen and (max-width: 768px) {
  .RakebackHeader nav.navbar.navbar-expand-lg.navbar-light.p-0

 {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    background: #fff;
    margin: 0;
    padding: 0 16px !important;
}
  button.navbar-toggler.me-2.d-lg-none.activetoggle svg

 {
    display: block;
}
 button.navbar-toggler.me-2.d-lg-none.activetoggle 

 {
    background: none;
}
button.navbar-toggler.me-2.d-lg-none.activetoggle span.navbar-toggler-icon {
    display: none;
}
button.navbar-toggler.me-2.d-lg-none.activetoggle {
    top: 34px;
    left: 7px;
}
.RakebackHeader nav.navbar .container {
    width: 100%;
    max-width: 100%;
    padding: 0 28px;
}

  .BlogBottomNewSectionRow .sidePost .sideImageContainer {
    height: 150px;
}
.BLogPAgesFooterIcon .SliderFooter {
    margin-top: 0;
}
  .DesktopLatestNews {
        padding: 60px 20px;
    }
    .DesktopLatestNews .sidebar.RightsidebarBlog .card {
        width: 100%;
        margin: 0;
    }
        .DesktopLatestNews .nav-pills .nav-link {
        font-size: 12px;
    }
    .DesktopLatestNews .HedBlog h2.fw-bold {
    font-size: 26px;
    line-height: 26px;
    padding-right: 30px;
}
 .DesktopLatestNews .HedBlog .text-muted {
    font-size: 14px;
}
  /* .rakeback_chart_wallet_balance__nV-NK {
    font-size: 33px;
  } */

  .KYCDB .accordion-body {
      flex-direction: column;
      align-items: baseline;
  }
.KYCDB .accordion-body .FormIcon {
        min-width: 116px;
        height: 86px;
    }
  .KYCDB .accordion-body .FormIcon img {
    width: 100%;
    height: 100%;
  }
   .Verified {
    width: 100%;
    justify-content: center;
}
.KYCBTNForm.Reverify {
    width: 100%;
    justify-content: center;
}
.KYCSuccessMsg {
    font-size: 16px;
    max-width: 70%;
    margin: 64px auto 60px;
}
  .DesktopVIew {
    display: none;
  }
  .MobileView {
    display: block;
    width: 100%;
  }
.dropdown-menu.NavbarDropdown.show {
    max-width: 400px;
    min-width: 400px;
}
  /* .MobileView .rakeback_chart_withdrawal_container__vh81U {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 30px;
  } */
  .MobileViewDesc {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
 
  .rakeback_chart_events_container__fJFAI {
    width: 100%;
    max-width: 100%;
    height: 100px;
    margin-top: 20px;
    gap: 20px;
  }
  .RakebackHeader {
    padding: 0 0;
  }
button.navbar-toggler {
        top: 26px;
        left: 0;
    }
  .navbar-brand {
    width: 153px;
    left: 43px;
  }
  .navbar-brand svg {
    width: 100%;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ContactUS {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  
  /* .pokerID_MainPokerIdContainer__SJvaL {
    gap: 0;
    padding: 15px 15px;
    background: transparent;
    border-radius: 40px;
  } */
  .PokerIdDB.nav-tabs .nav-link.active,
  .PokerIdDB.nav-tabs .nav-item.show .nav-link {
    background: transparent;
    font-size: 16px;
  }
  .PokerCardsContainer_PokerCardsContainer__59o8u ul#pokerTab {
    margin: 0 !important;
  }
  .PokerIdDBDesc .tab-pane {
    width: 100%;
    padding: 36px 28px;
  }
      .LastTransactionSection.TransactionTableDB {
        margin-top: 0;
    }
  .PokerIdDB.nav-tabs .nav-link {
    font-size: 16px;
  }
  .userProfile_column__7yuiv {
    flex-direction: column;
  }
  .userProfile_fieldLabel__aXiP6 {
    font-size: 12px;
    min-width: 112px;
  }
  .userProfile_container__JFHoK {
    padding: 20px;
  }

  .userProfile_fieldText__jVAo6 {
    font-size: 12px;
  }
.LastTransactionTable.table-responsive table.table.align-middle tr th {
    width: 230px !important;
    min-width: 179px !important;
    color: #718EBF;
}
  .table-responsive {
    padding-bottom: 20px;
}
}

@media only screen and (max-width: 575px) {

/* .swiper-slide.swiper-slide-next {
    left: -90px;
    opacity: 1 !important;
}
.swiper-slide.swiper-slide-prev {
    right: -90px;
    opacity: 1 !important;
}
.swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active{
    opacity: 1 !important;
} */

  .RakebackHeader nav.navbar .container {
        width: 100%;
        max-width: 100%;
        padding: 16px 16px 16px 8px;
    }
    button.navbar-toggler.me-2.d-lg-none.activetoggle {
        top: 24px;
        left: 11px;
    }
      .PokerLeft .list-unstyled {
                row-gap: 16px;
    }
    .PokerSiteHed {
    padding: 0;
}
.mega-menu .dropdown-menu.show {

    padding: 10px !important;
}
.container-fluid.RakeBackTopOffers, .container-fluid.RakeBackTopOffers .container {
    padding: 0 !important;
    overflow: hidden;
}
.RakeBackTopOffers .title {
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 60px;
}
.RakeBackTopOffers .subtitle{
padding-left: 46px;
    padding-right: 46px;
}
.swiper.swiper-carousel.swiper-initialized.swiper-horizontal.swiper-watch-progress {
    padding: 0 140px !important;
    margin: 0 !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}
.RakeBackTopOffers button.seeMoreOffers {
    margin-top: 30px;
    margin-bottom: 40px;
}




  .DesktopLatestNews .container {
        padding: 0 0px;
    }
.DesktopLatestNews ul#blogTabs li.nav-item {
    min-width: 110px;
}

/*-- BLog Dashboard --*/
.BlogDashboard.container-fluid {
    padding: 32px 36px 130px;
    background: #FFFFFF !important;
}
.BlogDashboard .nav-pills .nav-link {
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding: 6px 10px;
    background: #F4F4F4;
        font-size: 14px;
    color: #606060;
}
.BlogDashboard ul.nav.nav-pills {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    flex-direction: row;
    gap: 8px;
     scrollbar-width: none;
}
.HottestDealsDesc .card-subtitle {
    font-size: 8px;
    color: #9D9D9D;
}
.BlogDashboard .nav-link.active {  
  background-color: #f44336;
  color: white !important;
          border-color: #f44336;
}
.BlogDashboard .offer-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}
.BlogDashboard .bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.latestBLog{
  background: url(../Logos_and_illustration/LatestblogDashboard.svg);
  background-repeat: no-repeat;
  background-color: #FF4053;
  padding: 36px 26px;
  margin: 32px 0;
  border-radius: 8px;
  background-size: cover;
}
.latestBLog h6 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin:0px;
}
.PokerIdDBDesc .tab-pane[aria-labelledby="add-tab"]:before,
.PokerIdDBDesc .tab-pane[aria-labelledby="add-tab"]:after,
.PokerIdDBDesc .tab-pane[aria-labelledby="retag-tab"]:before,
.PokerIdDBDesc .tab-pane[aria-labelledby="retag-tab"]:after{
  display: none;
}
.PokerIdDBDesc .form-container {
        width: 100%;
        margin: 0 auto;
    }
.retagName {
    font-size: 12.49px;
}
.latestBLog small
 {
    font-size: 12px;
    color: #fff;
}
.pagination button {
    padding: 8px 8px;
    font-size: 12px;
}

.PokerIdDBDesc {
    margin-bottom: 0px;
}
.latestnews h6 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px;
}
.latestnews .mainPost .imageContainer {
    height: 188px;
    border-radius: 8px;
    overflow: hidden;
}
.latestnews .mainPost .imageContainer img.mainImage {
    width: 100%;
    height: 100%;
}


.MobilesideBar {
    padding: 26px 26px 100px;
}
    .profile-card, .menu-box {
        background-color: #fff;
        border-radius: 16px;
        padding: 20px 24px;
        margin-bottom: 24px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        justify-content: space-between;
        position: relative;
        overflow: hidden;
    }
    .profile-card svg.RakebackIcon {
    position: absolute;
    top: 11px;
    right: 70px;
}
    .profile-card .Profiletext
 {
    width: 100%;
}
.menu-box{
  margin-bottom: 12px;
}

    .profile-icon {
        width: 50px !important;
        height: 50px !important;
        background-color: #FF4053;
        color: #fff;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        min-width: 50px !important;
    }
        .profile-icon img{
            filter: brightness(41);
    }
    .menu-left {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        justify-content: space-between;
    }
.menu-left img {
    min-width: 24px;
    height: 24px;
    width: 24px;
}
.social-icons i {
  font-size: 20px;
  margin: 0 8px;
  color: #999;
  cursor: pointer;
}
.NAvbarText {
    width: 100%;
    margin-left: 20px;
}
.text-danger{
  color: #FF4053 !important;
}
.NAvbarText .fw-semibold {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.NAvbarText small.text-muted {
    color: #848484  !important;
    font-size: 10px;
}
.small {
    font-size: 12px;
    color: #000000 !important;
}
.small.smlDesc {
        font-size: 10px;
        color: #848484 !important;
    }
.SocialIconBlog {
    padding: 24px 0;
}
.SocialIconBlog  small {
    font-size: 18px;
    color: #B1B1B1;
    margin-bottom: 24px;
    width: 100%;
    display: flex;
}
.SocialIconBlog div {
    display: flex
;
    gap: 32px;
    flex-direction: row;
}
.SocialIconBlog div a svg {
    width: 31px;
    height: 31px;
}
/*-- BLog Dashboard --*/


  .MobileView {
    display: block;
    width: 100%;
  }
  .MobileHomepage header.RakebackHeader nav.container-fluid.navbar.navbar-expand-lg {
    padding-right: 0;
}
    .kyc-container.KYCDB {
        background: #fff;
        border-radius: 24px;
        padding: 33px 20px 90px;
        width: 100%;
    }
    .KYCSuccessMsg {
        max-width: 100%;
    }
        .KYCDB .accordion-body .FormIcon {
        min-width: 76px;
        height: 76px;
    }
    .KYCDB .form-control {
        border-radius: 6px;
    }
        .KYCDB .accordion-body {
        gap: 20px;
    }
    .VerifiedPan {
    padding: 13px;
    font-size: 14px;
}
.KYCBTNForm button.formButton {
    min-width: auto;
    height: 32px;
    font-size: 12px;
    border-radius: 6px;
    padding: 0 16px;
}
.NotMatchPan {
    font-size: 14px;
    gap: 11px;
    flex-direction: column-reverse;
    text-align: center;
}
 .Verified {
    font-size: 14px;
    gap: 11px;
}
.FormIconMObile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.KYCDB .AddhaarNumberField .form-control {
    height: 40px;
    min-width: 59px;
    width: 59px;
            padding: 0;
}
.AddhaarNumberField {
    gap: 12px;
}
.formButton.KYCSendOTP
 {
    min-width: 52px;
    height: 22px;
    font-size: 8px;
    font-weight: bold;
}
.AddhaarNumberField.OTPNumberField {
    gap: 4px;
}
.KYCDB .AddhaarNumberField.OTPNumberField .form-control
 {
    min-width: 32px;
    height: 32px;
    width: 32px;
    padding: 0;
}
.NotMatchPan svg, .Verified svg {
    width: 19px;
    height: 19px;
}
  .MobileViewDesc {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .dropdown .NotificationButton {
    width: 40px;
    height: 40px;
  }

  .dropdown .NotificationButton svg {
    width: 100%;
    height: 100%;
    scale: unset;
  }
  .RakebackTrustedPoker .titleAccent {
    display: flex;
  }
button.navbar-toggler {
        top: 23px;
        padding-left: 0;
        padding-right: 0;
        left: 10px;
    }
    header.RakebackHeader.sticky-top.bg-white .container.py-3.d-flex.align-items-center{
    padding: 0 !important;
}
  .pokerCard_FooterContent__2U0hu {
    padding: 0.875rem 0px 0rem;
  }
  .navbar-brand {
    left: 28px;
  }

  .RakebackHeader button.signin_button svg.bi.bi-arrow-right {
    display: none;
  }

    .RakeBackBannerMobile .pokerCardheroBanner {
        top: -20px;
        width: 53px;
        height: 126px;
        z-index: 1;
        right: -50px;
    }
    .RakeBackBannerMobile .chipIcon {
        bottom: 70px;
        width: 71px;
        height: 163px;
        z-index: 2;
        opacity: 0.5;
        left: -66px;
    }
  .RakeBackBanner .videoContainer img.BannerIcon {
    width: 280px;
    height: 341px;
    z-index: 3;
  }
.RakeBackBanner .chipBannerRight {
        width: 39px;
        height: 114px;
        z-index: 3;
        bottom: 0px;
        right: -30px;
    }
    .RakeBackBannerMobile .content {
    position: relative;
    top: -40px;
    z-index: 999;
}
  .RakeBackBanner .title {
    font-size: 36px;
    line-height: 120%;
  }
  .RakeBackBanner .description,
  .RakeBackBanner .subtitle {
    font-size: 16px;
  }
  .RakeBackBanner .buttonContainer button {
    width: 100%;
  }
.MobileHomepage .RakeBackTopOffers,
.MobileHomepage .RakebackTrustedPoker,
.MobileHomepage .RakebackGetStarted,
.MobileHomepage .RakebackFeaturedBlog,
.MobileHomepage .RakebackWhyChooseUS,
.MobileHomepage .RakebackClientTest,
.MobileHomepage .RakebackFAQ  
{
        padding: 48px 36px;
}
.MobileHomepage .RakebackClientTest {
    padding-bottom: 80px;
}
.MobileHomepage .RakeBackTopOffers .container,
.MobileHomepage .RakebackTrustedPoker .container,
.MobileHomepage .RakebackGetStarted .container,
.MobileHomepage .RakebackFeaturedBlog .container,
.MobileHomepage .RakebackWhyChooseUS .container,
.MobileHomepage .RakebackClientTest .container,
.MobileHomepage .RakebackFAQ .container  
{
        padding: 0px;
}
   .MobileHomepage  .swiper-carousel {
    padding-top: 24px;
    padding-bottom: 62px;
}

 .MobileHomepage .SliderFooter button {
    width: 46%;
    height: 32px;
}
.RakebackFAQ.RakebackSpace p.subtitle {
    margin-top: 0px;
}
.RakebackFAQ.RakebackSpace .moreQuestionsActions {  
    margin: 40px 0 0;
}
    .RakeBackTopOffers .title, .RakebackTrustedPoker .title, .GetStartedhead .title, .GetStartedhead .title {
        font-size: 28px;
        text-align: left;
        margin-bottom: 24px;
    }

  .RakeBackTopOffers .subtitle,
  .RakebackTrustedPoker .description,
  .GetStartedhead .subtitle,
  .GetStartedhead .subtitle {
    font-size: 16px;
    text-align: left;
    margin-top: 0px;
  }
  .center-slider.slider.customslider {
    padding: 0 !important;
  }
  .customslider .slick-track {
    height: 530px !important;
  }
  .slick-dots {
    bottom: -20px;
  }
  .RakebackTrustedPoker .carouselContainer {
    margin: 0 0;
    padding: 20px 0;
  }
  .RakebackTrustedPoker {
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
  }
  .RakebackTrustedPoker:before {
    content: "";
    position: absolute;
    top: 30px;
    right: 10px;
    width: 57px;
    height: 121px;
    background: url(../TrustedHomepage.svg);
  }
  .ContactInfoleft:before {
    width: 150px;
    height: 150px;
    bottom: 10px;
    right: -60px;
    transform: unset;
    background-size: contain;
  }
  .ContactInfoleft:after {
    content: "";
    width: 150px;
    height: 150px;
    bottom: 10px;
    left: -60px;
    transform: unset;
    background-size: contain;
  }
  span.ChatSmallDes {
    display: none;
  }
  .faqcontainer .actionButton {
    flex-direction: row;
    padding: 20px 10px;
    align-items: center;
    font-size: 12px;
    justify-content: flex-start;
    gap: 10px;
  }
  .faqcontainer .actionIcon {
    margin-right: 0;
  }
  .faqcontainer .arrowIcon {
    right: 0;
    top: 23px;
  }
  .faq_container .GetINtouchHedhero .title {
    display: none;
  }

  .moreQuestionsActionsFAQ.GetINtouch span.ChatSmallDes {
    display: block;
    font-size: 12px;
  }
  .faqcontainer .moreQuestionsActionsFAQ.GetINtouch .actionButton {
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    font-size: 17px;
    justify-content: flex-start;
  }
  .faqcontainer .moreQuestionsActionsFAQ.GetINtouch .actionIcon {
    margin-right: 0;
  }
  .faqcontainer .moreQuestionsActionsFAQ.GetINtouch .arrowIcon {
    right: 5px;
    top: 23px;
  }

  .GetStartedCard .stepNumber {
    position: unset;
    margin-right: 20px;
    font-size: 80px;
    min-width: 45px;
  }
    .GetStartedCard .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 24px;
    }
  .GetStartedhead {
    margin-bottom: 28px;
  }
  .joinButton {
    margin-top: 16px;
  }
    .RakebackFeaturedBlog .tabsWrapper div {
        font-size: 10px;
        padding: 6px 2px 6px;
        flex: unset;
                width: auto;
        min-width: auto;
    }
    .RakebackFeaturedBlog .tabsWrapper .activeTab:before
 {
    max-width: 100%;
    width: 100%;
        height: 2px;
}
    .RakebackFeaturedBlog .tabsWrapper {
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        /* scrollbar-width: thin; */
        justify-content: flex-start;
        gap: 44px;
        padding: 5px 20px 5px;
    }
    .Dictionaryrow {
    padding: 0;
    border: 0;
    border-radius: 0;
}
.DesktopLatestNews.dictionaryPage {
        padding: 40px 28px;
    }
    .NewsChildpAge .breadcrumb a {
    font-size: 12px;
}
.NewsChildpAge .breadcrumb li.breadcrumb-item
 {
    font-size: 12px;
}
    .NewsChildpAge .breadcrumb {
        margin-bottom: 0;
        overflow: scroll;
        flex-direction: row;
        min-width: 450px;
        flex-wrap: nowrap;
        padding-bottom: 10px;
    }
.NewsChildpAge nav[aria-label="breadcrumb"] {
        overflow-x: scroll;
        margin-bottom: 30px;
    }
.dictionaryPage .blogHedEXtra
 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
  .RakebackFAQ .actionButton {
    font-size: 10px;
  }
  .dictionaryPage p {
    font-size: 12px;
    margin-bottom: 15px;
}
    .DictionaryData h2 {
        width: 100%;
        padding: 0 24px;
        background: #F9F9F9;
        font-weight: bold;
    }
.dictionaryPage .tag-container {
        flex-direction: column;
        gap: 10px;
        padding: 16px;
    }
    .DesktopHide{
      display: block;
    }
    .MobileHide {
    display: none;
}
    .RakebackFeaturedBlog .exploreButton {
        width: 100%;
        font-size: 16px;
        border: 1px solid #FF4053;
        background: #fff;
        color: #FF4053;
        text-transform: uppercase;
    }
  .RakebackNewsletter .inputContainer {
    width: 100%;
    margin-top: 20px;
  }
.article-content .DictionaryData ul {
    font-size: 12px;
}
.article-content .DictionaryData ul li {
    margin-bottom: 15px;
}
.dictionaryPage .sidebar.RightsidebarBlog {
    display: none;
}
.RakebackFeaturedBlog
 {
    background: #fff;
}
.mainPost .mainContent span.category {
    margin-bottom: 0;
}
.AutherINfo h3, .AutherINfo p {
    color: #7E7F81;
}
    .article-content .nav {
        gap: 12px;
        justify-content: center;
        max-width: 100%;
        margin: 30px auto 20px;
        row-gap: 12px;
        padding: 10px 0 !important;
    }
  .GetStartedCard .stepTitle {
    font-size: 20px;
  }
  .GetStartedCard .stepDetails {
    font-size: 12px;
  }
  .GetStartedCard .iconContainer img {
    width: 59px !important;
    height: 59px !important;
  }
  .RakebackFeaturedBlog .mainPost {
    height: 100%;
  }
.RakebackFeaturedBlog .category {
        font-size: 10px;
        color: #FF4053;
        font-weight: bold;
        font-family: 'Sora';
    }
  .RakebackFeaturedBlog .imageContainer {
    height: 188px;
  }
    .RakebackFeaturedBlog .mainTitle {
        font-size: 17.39px;
        color: #333333;
        font-weight: 600;
        font-family: 'Sora';
    }
  .RakebackFeaturedBlog .description {
    font-size: 12px;
  }
  .RakebackFeaturedBlog .sideContent {
    padding: 10px 13px;
  }
    .container-cards.featuresList .card {
        padding: 20px 16px;
        margin-bottom: 24px;
        gap: 20px;
        border: none;
    }
    .container-cards.featuresList .card.focused .featureContent p.featureDescription {
    color: #000 !important;
    font-weight: 500;
}
  .container-cards.featuresList .iconContainer {
    width: 66px;
    height: 66px;
  }
  .container-cards.featuresList .iconContainer .icon img {
    width: 37px;
    height: 37px;
  }
  .container-cards.featuresList .featureTitle {
    font-size: 20px;
  }
  .container-cards.featuresList .featureDescription {
    font-size: 12px;
  }
  .PokerIdDBDesc .tab-pane {
    width: 100%;
    padding: 40px;
    background: #FFF6F7;
    border-radius: 16px;
    /* background: url(../PokerID/PokerIDbackDB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     background-size: 540% 130%; 
    background-repeat: no-repeat;
    background-position: center; */
}

  .RakebackSpace {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .RakebackFAQ .actionButton {
    padding: 0px 10px;
  }
  .RakebackFAQ .actionIcon {
    margin-right: 8px;
  }
  .arrowIcon {
    right: 10px;
  }
  .RakebackFAQ .faqAnswer {
    padding: 0 20px 24px 20px;
  }
  .RakebackFAQ .moreQuestionsButton {
    font-size: 16px;
  }
  .RakebackNewsletter .GetStartedhead .title {
    line-height: 46px;
    text-align: center;
  }
  .RakebackNewsletter .GetStartedhead .subtitle {
    max-width: 100%;
    margin: 9px 0 0px;
    text-align: center;
    font-size: 12px;
  }
  .RakebackNewsletter .form {
    width: 100%;
  }
.copyrightText {
        margin-top: 0px !important;
        font-size: 12px;
        padding: 20px 0 0;
        text-align: left;
    }
    .copyrightText{
      display: none;
    }
    .copyrightText.copyrightTexMobile{
      display: block;
      padding: 37px 0 0;
    }
    .ClientSlider .testimonialCard {
    padding: 30px;
    width: 290px;
}

  .RakebackNewsletter {
    position: relative;
    margin-top: 160px;
  }
  .RakebackNewsletter {
    position: relative;
    margin-top: 122px;
    padding-top: 100px;
  }
  .RakebackNewsletter:before {
    content: "";
    position: absolute;
    top: 0;
    width: 123px;
    height: 122px;
    background-size: contain !important;
    background-position: center;
    right: 50%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat !important;
    background: url(../NewsletterIcon.svg);
    z-index: 2;
  }
  .RakebackNewsletter:after {
    content: "";
    position: absolute;
    top: -60px;
    width: 100%;
    height: 122px;
    background-size: contain !important;
    background-position: center;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-image: url(../newsletterbackground.svg);
    z-index: 1;
    opacity: 0.5;
  }
.MobileViewLogin img.BannerIcon {
    display: block !important;
    width: 280px;
    height: 341px;
    position: unset !important;
}
.MobileViewLogin header.RakebackHeader {
    display: none;
}
.MobileViewLogin .LogoIcon{
  display: block;
    width: 263px;
    height: 71px;
    margin-bottom: 16px;
    position: relative;
    margin-top: -40px;
}
.MobileViewLogin .videoContainer {
    display: block !important;
    width: 100%;
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.MobileViewLogin .pokerCardheroBanner {
    height: 126px;
    right: -40px;
    top: 0px;
    width: 72px;
    z-index: 1;
}
  .MobileViewLogin   .chipIcon {
    bottom: 70px;
    height: 163px;
    left: -50px;
    opacity: 0.5;
    width: 71px;
    z-index: 2;
}
.MobileViewLogin .chipBannerRight
 {
        bottom: 0px;
        height: 114px;
        width: 39px;
        z-index: 3;
        right: 0;
    }
 .MobileViewLogin .starTopHeroBanner {
    color: rgb(238, 238, 238);
    height: 14.6px;
    position: absolute;
    right: 110px;
    top: -10px;
    width: 14.6px;
}
.MobileViewLogin .videoContainer img {
    position: absolute;
}
  .pokerCard_DateValue__DZzo9 {
    font-size: 12px;
  }
  .pokerCard_Id__T0ewt {
    font-size: 12px;
  }

  .myTransactionMain_TabContent__SqHKX {
    width: 100%;
    overflow: scroll;
  }
    .RakebackFeaturedBlog .sidePost
 {
        gap: 10px;
        border: 1px solid #ECECEC;
        padding: 0;
        border-radius: 9px;
        overflow: hidden;
        box-shadow: 0px 4px 10px #e5e5e5;
    }
     
    .RakebackFeaturedBlog .sideCategory {
    background: transparent;
    color: #FF4053;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Sora;
}

.RakebackFeaturedBlog .sideDescription {
    font-size: 14px;
    color: #292929;
    line-height: 140%;
    font-family: "Sora", sans-serif;
    font-weight: 700;
}
  .sideImageContainer {
    width: 130px;
    height: 130px;
  }
  .RakebackFeaturedBlog .mainContent {
    gap: 8px;
  }

  .RakebackFeaturedBlog .GetStartedhead {
    margin-bottom: 20px;
  }
    .RakebackFeaturedBlog .tabsContainer {
        margin-bottom: 24px;
        background: #F6F6F6;
    }
.HottestDealsDashboard .HottestDealschild {
    padding: 0;
    background: transparent;
    box-shadow: none;
}
    .HottestDealsDashboard .HottestDealschild {
        padding: 0;
        background: transparent;
        box-shadow: none;
        justify-content: normal;
    }
    .deal-card {
        width: 48%;
    }
.dropdown-menu.NavbarDropdown.show {
    max-width: 350px;
    min-width: 350px;
}
.videoContainermain {
    width: 100%;
}
.videoContainerhide img.BannerIcon.BannerIcon,
.videoContainerhide .chipIcon,
.videoContainerhide .chipBannerRight
 {
    display: none !important;
}
.iosdevice .MobileViewLogin .videoContainerhide img.LogoIcon {
  margin: 170px auto 16px !important;
}
.MobileViewLogin .videoContainerhide img.LogoIcon {
  margin: 0px auto 16px !important;
}
.videoContainermain img.LogoIcon {
    margin: -41px auto 0;
}
.MobileViewLogin .videoContainerhide .pokerCardheroBanner {
        height: 126px;
        right: -50px;
        top: -30px;
        width: 72px;
        z-index: 1;
    }
.OTPBottomText{
  font-size: 12px;
}
.MobileViewLogin {
    position: relative;
    overflow: hidden;
   height: calc(var(--vh, 1vh) * 100);
}
.videoContainerhide {
    width: 100%;
}

    .RakebackHeader {
        padding: 3px 15px 3px 25px;
    }
   .RakebackHeader  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
}
.RakeBackBannerMobile {
    padding: 20px 48px 17px;
}
.RakeBackBannerMobile .container{
  padding: 0;
}
.RakeBackBannerMobile .secondaryButton {
    color: #000;
    border: 0px solid #848484;  
    background: #F6F6F6 !important;
}
.RakebackFAQ  .moreQuestionsActions.moreQuestionsActionsMObile {
    display: flex;
}
.RakebackFAQ  .moreQuestionsActions{
    display: none;
}
.customFooter {
    padding: 48px 36px;
}
.customFooter .sectionTitle {
    font-size: 16px;
}
.customFooter .footerSection {
    margin-bottom: 45px;
}






}

@media only screen and (max-width: 530px) {
  .swiper.swiper-carousel.swiper-initialized.swiper-horizontal.swiper-watch-progress {
        padding: 0 134px !important;
    }
}  
@media only screen and (max-width: 518px) {
  .swiper.swiper-carousel.swiper-initialized.swiper-horizontal.swiper-watch-progress {
        padding: 0 132px !important;
    }
    .SliderContent {
    padding: 20px 14px 18px;
    gap: 14px;
}
} 

@media only screen and (max-width: 486px) {
    .swiper.swiper-carousel.swiper-initialized.swiper-horizontal.swiper-watch-progress {
        padding: 0 125px !important;
    }
    .swiper-carousel .swiper-slide {
    height: 100%;
} 
   
}
@media only screen and (max-width: 480px) {
   .swiper.swiper-carousel.swiper-initialized.swiper-horizontal.swiper-watch-progress {
        padding: 0 65px !important;
    }
  .dropdown-menu.NavbarDropdown.show {
    max-width: 250px;
    min-width: 250px;
}
.KYCDB .accordion-body .FormIcon {
        min-width: 66px;
        height: 66px;
    }
    .FormIconMObile {
    gap: 20px;
}
.VerifiedPan {
        padding: 10px;
        font-size: 10px;
    }
    .NotMatchPan {
        font-size: 11px;
    }
    .card_number {
    font-size: 12px;
    margin-bottom: 5px;
}
.KYCDB .form-control {
        font-size: 10px;
        padding: 0 12px;
    }
        .AddhaarNumberField {
        gap: 4px;
    }
    .KYCDB .AddhaarNumberField .form-control {
        min-width: 52px;
        width: 52px;
        font-size: 12px;
    }
.KYCDB .accordion-body .FormIcon.FormIconPAN {
    min-width: 80px;
    width: 75px;
    height: 50px;
}
    .navbar-brand {
        width: 133px;
    }
  .PokerIdDBDesc .form-container {
    width: 100%;
  }
  .PokerIdDB.nav-tabs li.nav-item {
    margin-right: 15px;
  }
  .PokerIdDB.nav-tabs .nav-link,
  .PokerIdDB.nav-tabs .nav-link.active,
  .PokerIdDB.nav-tabs .nav-item.show .nav-link {
    font-size: 14px;
  }
  .KYCDB .step-info {
    gap: 14px;
  }
  .KYCDB .accordion-body {
    padding: 30px 20px 28px 39px;
  }
  
.NavbarDropdown .dropdown-item {
    padding: 14px;
}
  .NavbarDropdown .dropdown-item h3 {
    font-size: 14px;
}
.NavbarDropdown .dropdown-item p {
        font-size: 12px;
        margin: 0 0 4px;
    }
.NavbarDropdown .dropdown-item span {
    font-size: 10px;
}

/* .swiper-slide.swiper-slide-next {
    left: -130px;
    opacity: 1 !important;
}
.swiper-slide.swiper-slide-prev {
    right: -130px;
    opacity: 1 !important;
}
.swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active{
    opacity: 1 !important;
} */


}

@media only screen and (max-width: 420px) {

.SliderFooter button {
    width: 48%;
}

/* .swiper-slide.swiper-slide-next {
    left: -110px;
    opacity: 1 !important;
}
.swiper-slide.swiper-slide-prev {
    right: -110px;
    opacity: 1 !important;
}
.swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active{
    opacity: 1 !important;
}
 */

}
@media only screen and (max-width: 394px) {
.DesktopLatestNews .sidebar.RightsidebarBlog.RetagRightsideba .card .sidePost.sidePostGI div {
    flex-basis: 47%;
}
.sidePostGamesoffered .DWCards button {
    width: 82px;
    font-size: 9px;
}
}
@media only screen and (max-width: 340px) {
    .navbar-brand svg {
        width: 80%;
    }
    .navbar-toggler-icon {
    width: 1em;
    height: 1em;
}
button.navbar-toggler {
        top: 18px;
        left: 12px;
    }
}
