/* your-styles.module.css */
.HomeQuickStart {
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1.25rem;
	/* 20px / 16px */
	display: inline-flex;
}

.QuickStartContent {
	align-self: stretch;
	height: auto;
	padding: 1.5rem;
	/* 24px / 16px */
	background: white;
	box-shadow: 0 0.0625rem 0.125rem rgba(16, 24, 40, 0.06);
	/* 0px 1px 2px rgba(16, 24, 40, 0.06) / 16px */
	border-radius: 0.75rem;
	/* 12px / 16px */
	border: 0.0625rem solid #eaecf0;
	/* 1px / 16px */
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1.25rem;
	/* 20px / 16px */
	display: flex;
}

.Header {
	display: inline-flex;
	align-self: stretch;
	justify-content: space-between;
	align-items: center;
}

.Head {
	color: #101828;
	font-size: 1.125rem;
	/* 18px / 16px */
	font-family: "Inter";
	font-weight: 600;
	line-height: 1.75rem;
	/* 28px / 16px */
	word-wrap: break-word;
}

.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	/* 8px / 16px */
}
.Button button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background-color: transparent;
	border: 0;
}

.Text {
	color: #002366;
	font-size: 0.875rem;
	/* 14px / 16px */
	font-family: "Inter";
	font-weight: 600;
	line-height: 1.25rem;
	/* 20px / 16px */
	word-wrap: break-word;
}

.ArrowLeft svg {
	width: 1.25rem;
	/* 20px / 16px */
	height: 1.25rem;
	/* 20px / 16px */
	position: relative;
	/* transform: rotate(180deg); */
	transform-origin: 0 0;
}

.Guid {
	align-self: stretch;
	height: auto;
	padding: 1.25rem;
	background: white;
	box-shadow: 0 0.0625rem 0.125rem rgba(16, 24, 40, 0.06);
	border-radius: 0.75rem;
	border: 0.0625rem solid #eaecf0;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.375rem;
	display: flex;
}

.GuidContent {
	align-self: stretch;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
	/* 16px / 16px */
	display: inline-flex;
}

.Icons_container {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.Icons {
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	/* 16px / 16px */
	display: flex;
}

.Checkicon {
	width: 2rem;
	/* 32px / 16px */
	height: 2rem;
	/* 32px / 16px */
	position: relative;
}

.Icon {
	width: 1.667rem;
	/* 26.67px / 16px */
	height: 1.667rem;
	/* 26.67px / 16px */
	left: 0.167rem;
	/* 2.67px / 16px */
	top: 0.167rem;
	/* 2.67px / 16px */
	background: #11c15b;
	border: 0.167rem solid #11c15b;
	/* 2.67px / 16px */
}

.Approvalicon {
	width: 2rem;
	/* 32px / 16px */
	height: 2rem;
	/* 32px / 16px */
	justify-content: center;
	align-items: center;
	display: flex;
}

.TextContent {
	flex: 1 1 0;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.25rem;
	/* 4px / 16px */
	display: inline-flex;
}

.Head {
	color: #101828;
	font-size: 1rem;
	/* 16px / 16px */
	font-family: "Inter";
	font-weight: 500;
	line-height: 1.5rem;
	/* 24px / 16px */
	word-wrap: break-word;
}

.Subhead {
	align-self: stretch;
	color: #475467;
	font-size: 0.875rem;
	/* 14px / 16px */
	font-family: "Inter";
	font-weight: 400;
	line-height: 1.25rem;
	/* 20px / 16px */
	word-wrap: break-word;
}

/* ////////////////////////////////////////////// */
@media only screen and (max-width: 1024px) {
	.HomeQuickStart {
		width: 100%;
	}

	.QuickStartContent {
		padding: 1rem;
	}

	.GuidContent {
		flex-direction: column;
		width: 100%;
	}

	.GuidTextContentainer {
		flex-direction: column;
		width: 100%;
	}

	.Subhead {
		text-wrap: wrap;
	}

	.TextContent {
		width: 100%;
	}

	.Icons_container {
		flex-direction: column;
		align-items: flex-start;
	}
	.Guid {
		padding: 0.75rem;
	}
}
