/* your-styles.module.css */
.HomeWithdraw {
  /*  width: 100%; 100% width */
  /*   height: 100%;100% height */
  width: 72.5rem;
  padding-left: 2rem; /* 32px / 16px */
  padding-right: 2rem; /* 32px / 16px */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem; /* 24px / 16px */
  display: inline-flex;
}

.WithdrawContent {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem; /* 24px / 16px */
  display: inline-flex;
}

.WithdrawContentWrapper {
  /* width: 33.5rem; */
  width: 100%;
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem; /* 24px / 16px */
  display: flex;
}

.BalanceAndWinnings {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem; /* 24px / 16px */
  display: inline-flex;
}

.Balance {
  align-self: stretch;
  height: 15.75rem; /* 252px / 16px */
  background: white;
  box-shadow: 0 0.0625rem 0.125rem rgba(16, 24, 40, 0.06); /* 0px 1px 2px rgba(16, 24, 40, 0.06) / 16px */
  border-radius: 0.75rem; /* 12px / 16px */
  overflow: hidden;
  border: 0.0625rem solid #eaecf0; /* 1px / 16px */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.BalanceContent {
  align-self: stretch;
  flex: 1 1 0;
  padding: 1.5rem; /* 24px / 16px */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem; /* 24px / 16px */
  display: flex;
}

.BalanceContentWrapper {
  align-self: stretch;
  height: 8.875rem; /* 142px / 16px */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem; /* 24px / 16px */
  display: flex;
}

.BalanceContentWrapper .Icon {
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.78125rem;
  justify-content: center;
  align-items: center;
  background-color: #d1e9ff;
  border-radius: 50%;
}

.BalanceContentWrapper .Icon svg {
  width: 1.5625rem;
  height: 1.5625rem;
  flex-shrink: 0;
}

.BalanceText {
  /* align-self: stretch; */
  height: 4.25rem; /* 68px / 16px */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.625rem; /* 10px / 16px */
  display: flex;
}

.BalanceHead {
  align-self: stretch;
  color: #475467;
  font-size: 0.875rem; /* 14px / 16px */
  font-family: "Inter";
  font-weight: 500;
  line-height: 1.25rem; /* 20px / 16px */
  word-wrap: break-word;
}

.BalanceSubhead {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem; /* 16px / 16px */
  display: inline-flex;
}

.Number {
  flex: 1 1 0;
  color: #101828;
  font-size: 1.875rem; /* 30px / 16px */
  font-family: "Inter";
  font-weight: 600;
  line-height: 2.375rem; /* 38px / 16px */
  word-wrap: break-word;
}

.Card {
  align-self: stretch;
  height: 7.125rem; /* 114px / 16px */
  background: white;
  box-shadow: 0px 0.0625rem 0.125rem rgba(16, 24, 40, 0.06); /* 0px 1px 2px rgba(16, 24, 40, 0.06) / 16px */
  border-radius: 0.75rem; /* 12px / 16px */
  overflow: hidden;
  border: 0.0625rem solid #eaecf0; /* 1px / 16px */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

/* Add your styling for the Card component here */

/* Additional CSS can be added as needed */
