

.PokerCardsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}
.TabContent{
  width: 100%;
}
.TabFilters {
       display: flex;
    align-items: center;
    scroll-behavior: smooth;
    overflow-x: auto;
    gap: 37px;
    border-bottom: 1px solid #EBEEF2;
}
.TabButton {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
    white-space: nowrap;
    height: 34px;
    padding: 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background: transparent;
}

.TabButton.Active:before, .TabButton:hover:before {
     content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #FF4053;
    z-index: 999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.TabButton.Active{
 color: #FF4053;
 font-weight: 600;
}
.TabButton:hover{
 color: #FF4053;
 font-weight: 600;
}
.CardsContent {
 display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0px 0;
}
.TabIcon{
  margin-right: 8px;
}

.CardsRow {
display: flex;
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;
     justify-content: flex-start;
    row-gap: 10px;
}

.CardItem {
  flex: 0 0 32%;
}


/* .scrollable {
  overflow-y: auto;
  max-height: 420px;
} */

@media (max-width: 1199px) {
  .CardsRow {
    gap: 0;
}
}

@media only screen and (max-width: 991px) {
    .PokerCardsContainer .CardsRow {
        justify-content: space-between;
        gap: 0;
    }
}
@media (max-width: 768px) {
  .TabFilters {
    gap: 0.5rem;
  }

  .CardsRow {
    flex-direction: row;
  }


  .PokerCardsContainer .CardItem {
    margin-bottom: 20px;
    width: 48%;
  }
  .pokerCard .CardContent {
    padding: 1rem 0 0;
  }
  .pokerCard .Head {
    font-size: 12px;
    font-weight: 800;
  }
  .pokerCard .PokerCard {
    padding: 15px 14px;
  }
  .pokerCard .ImageWrapper {
    width: 42px;
    height: 42px;
  }
  .pokerCard .FooterContent {
    padding: 0.875rem 14px 0rem;
  }
  .pokerCard .StatusContainer {
    top: -2px;
    right: 7px;
  }
  .pokerCard .StatusBadge span {
    font-size: 8px;
  }
  .pokerCard .StatusIndicator svg {
    width: 10px;
    height: 10px;
  }
  .PokerCardsContainer .TabButton {
    font-size: 14px;
  }
  .PokerCardsContainer .PokerCardsContainer ul#pokerTab {
    margin: 0 !important;
  }


}

@media (max-width: 575px) {
  .PokerCardsContainer .TabButton {
    flex: 1;
  }
  .PokerCardsContainer .CardItem {
    flex: unset;
    width: 48%;
  }
}
@media (max-width: 480px) {
  .TabFilters {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0.4rem;
    margin-left: -12px;
  }

  .TabButton {
    font-size: 0.8rem;
    padding: 0.7rem 0.42rem;
  }
  .TabIcon{
    margin-right: 5px;
  }
  .CardsRow {
    flex-direction: row;
    gap: 0;
  }

  .CardItem {
    flex-basis: 100%;
  margin-bottom: 20px;

  }
 
}