.PokerCardsContainer {
	width: 100%;
	padding-bottom: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1.5rem;
}

/* TabContent */
.TabContent {
	align-self: stretch;
	/* height: 2rem; */
	border-bottom: 0.0625rem #eaecf0 solid;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.5rem;
}

/* TabFilters */
.TabFilters {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}

/* TabButton */
.TabButton {
	padding: 0.25rem 0.0625rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

/* TabText */
.TabText {
	color: #667085;

	font-size: 0.875rem;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	line-height: 1.25rem;
	word-wrap: break-word;
}

/* CardsContent */
.CardsContent {
	display: flex;
	align-self: stretch;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1.5rem;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
	/* TabFilters */
	.TabFilters {
		gap: 0.75rem;
	}
}
