.VerifyInfoContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2rem;
}

/* VerifyInfoContent */
.VerifyInfoContent {
	align-self: stretch;
	background: white;
	border-radius: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 0.75rem;
	background: var(--base-white, #fff);
}

/* InfoHeader */
.InfoHeader {
	align-self: stretch;
	padding: 1rem;
	background: #f2f6ff;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border: 2px solid #3968eb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.25rem;
}

/* InfoHeaderContent */
.InfoHeaderContent {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

/* Icon */
.Icon {
	width: 2rem;
	height: 2rem;
	position: relative;
	background: #d1e9ff;
	border-radius: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* HeaderText */
.HeaderText {
	color: #3968eb;
	font-size: 1rem;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	line-height: 1.5rem;
	word-wrap: break-word;
}

/* Checkbox */
.Checkbox {
	width: 1rem;
	height: 1rem;
	position: relative;
	background: #11c15b;
	border-radius: 0.5rem;
	border: 0.0625rem #11c15b solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* InfoBody */
.InfoBody {
	align-self: stretch;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 0.25rem;

	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border: 0.125rem solid #3968eb;
	border-top: white;
}

/* UserInfo */
.UserInfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.25rem;
}

/* InfoName */
.InfoName {
	display: flex;
	align-self: stretch;
	justify-content: flex-start;
	align-items: center;
	gap: 1.625rem;
}

/* InfoNameText */
.InfoNameText {
	color: #344054;
	font-size: 1.25rem;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	line-height: 1.875rem;
	word-wrap: break-word;
}

/* IsVerified */
.IsVerified {
	align-self: stretch;
	color: #475467;
	font-size: 0.875rem;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	line-height: 1.25rem;
	word-wrap: break-word;
}

/* InfoBadge */
.InfoBadge {
	padding: 0.125rem 0.5rem;
	mix-blend-mode: multiply;
	background: #ecfdf3;
	border-radius: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* BadgeText */
.BadgeText {
	text-align: center;
	color: #027a48;
	font-size: 0.75rem;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	line-height: 1.125rem;
	word-wrap: break-word;
}

@media only screen and (max-width: 768px) {
	.VerifyInfoContainer {
		width: 100%;
	}

	.InfoBody {
		flex-direction: column;
		gap: 1.5rem;
	}
}
