.main_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding: 40px 20px;
}

.table_container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: flex-start;
  position: relative;
  gap: 40px;
}

.table_of_contents {
  position: sticky;
  top: 20px;
  width: 250px;
  padding: 20px;
  border-right: 1px solid #eee;
  height: fit-content;
}

.table_of_contents h2 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: #222;
  font-weight: bold;
  margin-bottom: 20px;
}

.table_of_contents ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.table_of_contents li {
  margin: 16px 0;
}

.table_of_contents a {
  text-decoration: none;
  color: #007BFF;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  display: block;
  transition: color 0.3s ease, padding-left 0.3s ease;
  padding-left: 0;
}

.table_of_contents a:hover {
  color: #0056b3;
  padding-left: 8px;
}

.table_of_contents .active a {
  font-weight: bold;
  color: #0056b3;
  border-left: 3px solid blue;
  padding-left: 8px;
}

.law_details {
  flex: 1;
  padding: 0 20px;
}

.law {
  margin-bottom: 50px;
}

.law h2 {
  font-size: 22px;
  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.law p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  margin-bottom: 12px;
  font-family: "Roboto", sans-serif;
}

.law ol {
  padding-left: 20px;
  margin: 20px 0;
}

.law ol li {
  font-size: 16px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  line-height: 1.6;
}

.list_items {
  margin-bottom: 10px;
}

/* Meta Section */
.meta_info {
  font-size:16px;
  color: #333333;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1024px) {
  .main_container {
    flex-direction: column;
    align-items: stretch;
  margin-top: -80px;
  }

  .table_container {
    flex-direction: column;
    width: 100%;
  }

  .table_of_contents {
    position: relative;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
  }

  .law_details {
    padding: 0;
  }
}
