/* TabContent */
.TabContent {
	align-self: stretch;
	border-bottom: 0.0625rem #eaecf0 solid;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.5rem;
}

/* TabFilters */
.TabFilters {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}

/* TabButton */
.TabButton {
	padding: 0.25rem 0.0625rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
@media only screen and (max-width: 768px) {
	.TabContent {
		width: 100%;
	}
}
