.homepage_container{
    overflow: hidden;
}
.coming_soon{
    width: 100%;
}
.coming_soon_mobile{
    display: none;
}
.contact_button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
.contact{
    background: #ffbf00;
    color: black;
font-weight: bold;
padding: 7px 14px;
border-radius: 12px;
}  
@media only screen and (max-width: 480px){
    .coming_soon{
display: none;    }
    .coming_soon_mobile{
        display:flex;
        height: 100vh;
    }
    .contact{
       padding: 5px 10px;
       font-size: 14px;
    }  
}