
.MainPokerIdContainer {
  display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 32px 36px;
    background: #ffff;
    border-radius: 40px;
}



@media only screen and (max-width: 768px) {
.MainPokerIdContainer {
  gap: 0;
  padding: 0;
  background: transparent;
  border-radius: 40px;
}
.PokerCardsContainer .TabButton
{
      font-size: 14px;
  }
.PokerCardsContainer.TabButton.Active {
    color: #FF4053;
}


}