.mobileNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.navbarLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hamburgerIcon {
  color: #2c3e50;
  cursor: pointer;
}

.logo {
  width: 141px;
  height: 40px;
}

.brandName {
  font-size: 16px;
  font-weight: 700;
  color: #ff4053;
}

.loginButton {
  background-color: #ff4053;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1000;
  display: flex;
  height: 668px;
  flex-direction: column;
}

.mobileMenuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.closeIcon {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
}

.menuItems {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menuItems li {
  padding: 1rem 1.5rem;
  border-top: 1px solid #f3f4f6;
  font-size: 1rem;
  color: #374151;
  text-align: center;
}

.menuItems li.active {
  background-color: #fee2e2;
  color: #ef4444;
}

.menuItems li.active span {
  color: #ef4444;
}

.menuFooter {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid #f3f4f6;
}

.loginFooter {
  height: 51px;
  padding: 1rem;
  background-color: #ff4053;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}

.getInTouchFooter {
  padding: 1rem;
  background-color: white;
  color: #374151;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
