.Header {
	padding: 0.75rem 1.5rem;
	gap: 12px;
	opacity: 0px;
	background: #f9fafb;
	border-bottom: 1px solid #eaecf0;
}
.Badge {
	display: flex;
	padding: 0.25rem 0.5rem;
	align-items: center;
	border-radius: 1rem;
	mix-blend-mode: multiply;
	height: fit-content;
	line-height: normal;
}
.StatusColumn {
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 500px) {
	.TransactionTableContainer {
		width: 100%;
	}
}
