@import url("https://fonts.cdnfonts.com/css/futura");
@import url("https://fonts.cdnfonts.com/css/Karla");
@import url("https://fonts.cdnfonts.com/css/futura-md-bt");
@import url("https://db.onlinewebfonts.com/c/e55e9079ee863276569c8a68d776ef04?family=Futura+Md+Medium+BT");

* {
  box-sizing: border-box;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
