body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.ModalSignIN .modal-footer {
	border: none;
}

.ModalSignIN .modal-content {
	padding: 50px;
	border: none;
	box-shadow: 0px 0px 70px 0px #e2e2e2;
}

.ModalSignIN .modal-footer button {
	margin: 0;
	width: 100%;
	height: 50px;
}

.ModalSignIN .modal-content .modal-header {
	border: none;
}

.ModalSignIN .modal-content .modal-body .Form-Group {
	position: relative;
}

.ModalSignIN .modal-content .modal-body .Form-Group label.form-label {
	position: absolute;
	top: -17px;
	left: 10px;
	background: #fff;
	margin: 0;
	padding: 5px 10px;
}

.ModalSignIN .modal-content .modal-body .Form-Group input {
	padding: 20px 15px 15px;
}

.ModalSignIN .modal-content .modal-body .Form-Group input:focus {
	box-shadow: none;
}

.ModalSignIN .modal-dialog.modal-lg {
	margin-top: 70px;
}

.fade.modal-backdrop {
	opacity: 1 !important;
	background: #ffffff9e !important;
}

.container {
	max-width: 1200px !important;
	margin-inline: auto;
}

input:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.light-text {
	color: #667085;
}

.swiper {
	height: 100%;
	width: 100%;
}
.swiper-slide {
	height: 100%;
}
.get_started_swiper .swiper-pagination {
	margin-bottom: 1.2rem;
}

.swiper-pagination .swiper-pagination-bullet {
	width: 16px;
	height: 10px;
	border-radius: 26px;
	background-color: black;
	opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #3968eb;
	width: 26px;
}
.custom-swiper-pagination {
	margin-inline: auto;
	width: fit-content !important;
	margin-top: 1rem;
}

.custom-swiper-pagination .swiper-pagination-bullet {
	border: 1px solid #667285;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: transparent;
}

.custom-swiper-pagination
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #3968eb;
	border: none;
}
